.page {
  padding: 4rem 1.5rem;
}

.grid {
  border: 5px solid red !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--pricing-card-max-width), var(--pricing-card-max-width)));
  justify-content: center;
  gap: var(--spacing-2xl);
}

.card {
  width: 100%;
  display: flex;
}