.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  text-align: center;
}

.notice {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-base);
}
