.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding: var(--spacing-3xl) 0;
}

.title {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}
