.container {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 720px;
  padding: 24px;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
