.page {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.hero {
  min-height: 100vh;
  width: 100%;
  background-image: url('/images/hero/tx-inspired-home-page-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* затемнение для будущего текста */
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.6));
}
