.marketingLayout {
  min-height: 100vh;
  background-image: url('/images/hero/tx-inspired-home-page-bg.webp');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
